* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  color: black;
}

.loggedUser {
  width: 20rem;
  margin: 0 auto;
  background-color: #1f8ef1;
  border-radius: 4px;
}

/* Sidebar */

#mySidenav {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  height: 80vh;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  background-color: #1f8ef1;
}

#mySidenav:hover {
  left: 0;
  width: 200px;
}

#mySidenav ul li h5 {
  color: white;
}

#mySidenav ul li h5 {
  display: none;
}

#mySidenav:hover ul li h5 {
  display: block;
}

.error-div {
  width: 180px;
  padding: 5px 5px 6px 5px;
  position: absolute;
  top: 47%;
  left: 39%;
}

/* Roles Component Styling */
.roles-main {
  width: 70vw;
  min-height: 50vh;
  background-color: #27293d;
  margin: 0 auto;
  margin-top: 8rem;
  color: lightgray;
  border-radius: 8px;
}

.roles-header {
  padding: 15px 0px;
  padding-left: 1.2rem;
  font-size: 18px;
  font-weight: 600;
  transform: scaleY(0.95);
}

.role-content-display {
  border-top: 1px solid grey;
  font-weight: 400;
  padding-left: 1rem;
}

.role-content-display .role-list {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #1f8ef1;
  padding: 3px 10px;
  margin-top: 3px;
}

.addRole-icon {
  font-size: 20px;
  padding: 15px 40px;
  cursor: pointer;
}

/* Role's Modal */
.modal-role {
  width: 35rem;
  height: auto;
  background-color: #1e1e2c;
  border-radius: 8px;
  border: 1px solid #1f8ef1;
  position: absolute;
  left: 31%;
  top: 30%;
  padding: 20px 10px;
}

.modal-heading {
  padding: 0px 10px;
  padding-top: 3px;
  font-size: 1.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header .role-modal-close {
  font-size: 1.8rem;
  padding: 0px 1rem;
  cursor: pointer;
}

.modal-role .modal-content {
  margin-top: 2rem;
}

.modal-role .modal-content .modal-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 10px;
}

.modal-role .modal-content .user-role {
  display: flex;
  padding: 0px 10px;
}

.modal-container h5 {
  padding-top: 4px;
}

.modal-role .modal-container input {
  width: 390px;
  padding: 6px 10px;
  border-radius: 6px;
}

.modal-role .modal-container input:focus {
  outline: none;
}

.modal-role .modal-save-role {
  width: 100px;
  margin: 0 auto;
}

.modal-role .modal-save-role button {
  padding: 3px 30px;
  border-radius: 4px;
  background-color: #1f8ef1;
}

.modal-role .modal-save-role button:hover {
  background-color: white;
}

/* Permissions */

.permissions-main {
  width: 70vw;
  min-height: 50vh;
  background-color: #27293d;
  margin: 0 auto;
  margin-top: 8rem;
  color: lightgray;
  border-radius: 8px;
}

.permissions-header {
  padding: 12px 0px;
  padding-left: 1.2rem;
  font-size: 18px;
  font-weight: 600;
  transform: scaleY(0.95);
}

.permission-content-display {
  border-top: 1px solid grey;
  font-weight: 400;
  padding-left: 1rem;
}

.permission-content-display .permission-list {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #1f8ef1;
  padding: 3px 10px;
  margin-top: 3px;
}

.permission-content-display .permission-list .permission-list-item {
  width: 90px;
  overflow: hidden;
}

.addPermission-icon {
  font-size: 20px;
  padding: 15px 40px;
  cursor: pointer;
}

/* Permission's Modal */
.modal-permission {
  width: 35rem;
  height: auto;
  background-color: #1e1e2c;
  border-radius: 8px;
  border: 1px solid #1f8ef1;
  position: absolute;
  left: 31%;
  top: 30%;
  padding: 20px 10px;
}

.modal-heading {
  padding: 0px 10px;
  padding-top: 3px;
  font-size: 1.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header .permission-modal-close {
  font-size: 1.8rem;
  padding: 0px 1rem;
  cursor: pointer;
}

.modal-permission .modal-content {
  margin-top: 2rem;
}

.modal-permission .modal-content .modal-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 10px;
}

.modal-permission .modal-content .user-permission {
  display: flex;
  padding: 0px 10px;
}

.modal-container h5 {
  padding-top: 4px;
}

.modal-permission .modal-container input {
  width: 390px;
  padding: 6px 10px;
  border-radius: 6px;
}

.modal-permission .modal-container input:focus {
  outline: none;
}

.modal-permission .modal-save-permission {
  width: 100px;
  margin: 0 auto;
}

.modal-permission .modal-save-permission button {
  padding: 3px 30px;
  border-radius: 4px;
  background-color: #1f8ef1;
}

.modal-permission .modal-save-permission button:hover {
  background-color: white;
}

/* Users Styling */

.usertab-main {
  width: 50vw;
  min-height: 50vh;
  background-color: #27293d;
  margin: 0 auto;
  margin-top: 8rem;
  color: lightgray;
  border-radius: 8px;
}

.user-heading,
.email-heading {
  padding: 12px 0px;
  padding-left: 3.3rem;
  font-size: 18px;
  font-weight: 600;
  transform: scaleY(0.95);
}

.email-heading {
  padding-left: 1.9rem;
}

.user-content-display {
  border-top: 1px solid grey;
  font-weight: 400;
  padding-left: 1rem;
}

.user-content-display div li {
  list-style: circle;
}
